/*container dos jogos*/

.Container {
    display: inline-block;
    border: 5px solid aqua; 
    width: 275px;
    height: 240px;
    background-color: black;
    animation: mudaBorda 1s infinite alternate; 
}

@keyframes mudaBorda {
    0% { border-color: aqua; }
    25% { border-color: blue; }
    50% { border-color: purple; }
    75% { border-color: red; }
    100% { border-color: yellow; }
}

/*Div dos jogos */

.Jogo{
    width: 230px;
    height: 20px;
    padding: 5px;
    margin: 15px;
    border-style: solid;
    border-radius: 2px;
    background-color: black;
    color: aqua;
}

.botaojokenpo{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    margin-left: 5px;
}

/*Jokenpo*/

#jokenpo{
    border-style: solid;
    background-color: black;
    color: aqua;
}

/*Advinhação*/

#advinhacao{
    height: 40px;     
}

#btnAdvinhar{
    margin-left: 35%; 
}

#advinhos{
    width: 30px;
}

